<form [formGroup]="updatePassword">
    <mat-form-field class="form-field">
        <mat-label>{{ 'FormFields.Label.CurrentPassword' | translate }}</mat-label>
        <input matInput #currentPassword="matInput" formControlName="current-password"
            [type]="hideCurrentPassword ? 'password' : 'text'"
            [placeholder]="'FormFields.Placeholder.CurrentPassword' | translate"
            autocomplete="off">
        <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword" type="button">
            <mat-icon [color]="currentPassword.errorState ? 'warn' : ''">{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngFor="let error of updatePassword.currentPassword.errors  | keys">
            {{ 'FormFields.Validators.'+error | translate }}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>{{ 'FormFields.Label.NewPassword' | translate }}</mat-label>
        <input matInput #newPassword="matInput" formControlName="new-password"
            [type]="hideNewPassword ? 'password' : 'text'"
            [placeholder]="'FormFields.Placeholder.NewPassword' | translate"
            autocomplete="off">
        <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword" type="button">
            <mat-icon [color]="newPassword.errorState ? 'warn' : ''">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngFor="let error of updatePassword.newPassword.errors  | keys">
            {{ 'FormFields.Validators.'+error | translate }}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>{{ 'FormFields.Label.ConfirmPassword' | translate }}</mat-label>
        <input matInput #confirmPassword="matInput" formControlName="confirm-new-password"
            [type]="hideConfirmPassword ? 'password' : 'text'"
            [placeholder]="'FormFields.Placeholder.ConfirmPassword' | translate"
            autocomplete="off">
        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideConfirmPassword" type="button">
            <mat-icon [color]="confirmPassword.errorState ? 'warn' : ''">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngFor="let error of updatePassword.confirmPassword.errors | keys">
            {{ 'FormFields.Validators.'+error | translate }}
        </mat-error>
    </mat-form-field>
</form>
