<h1 mat-dialog-title>
  {{ 'Dialog.Title.UpdateGame'}}
</h1>
<div mat-dialog-content>
  <div>
    <game-form [createGameForm]="updateGameForm"></game-form>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="okClick()" type="submit" [disabled]="loading">
    <span *ngIf="!loading">{{ 'Ok' }}</span>
    <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="21"></mat-progress-spinner>
  </button>
  <button mat-button cdkFocusInitial (click)="cancelClick()" type="button" [disabled]="loading">{{ 'Cancel' }}</button>
</div>