:host {
    margin: auto 0;
    form{
        padding: 25px;
        width: 100%;
        .form-field{
            width: 100%;
            &.email{
                margin: 10px 0;
            }
            &.password{
                margin-bottom: 20px;
            }
        }

        .controls {
            padding: 20px 0;
            .login-button{
                width: 100%;
                height: 56px;
            }
        }

        .routes {
            padding: 20px 0;
            .link{
                width: 100%;
                display: block;
                line-height: 25px;
                text-align: center;
            }
        }
    }
}