<header>
  <mat-toolbar color="primary">
    <div class="left-header">
      <button mat-icon-button class="hamburguer"
        (click)="toggleSidebarState()">
        <mat-icon >menu</mat-icon>
      </button>
      <span class="AF-name" routerLink="">{{ "Layout.Header.Logo" | translate }}</span>
    </div>
    <div class="right-header">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-slide-toggle [checked]="isChecked" (change)="onDarkModeSwitched($event)">Dark theme</mat-slide-toggle>
        </button>
        <button mat-menu-item (click)="openChangePasswordDialog()">
          <mat-icon>lock_reset</mat-icon>
          {{ 'Layout.Header.ChangePassword' | translate }}
        </button>
        <button mat-menu-item (click)="openQRCodeDialog()">
          <mat-icon>qr_code_scanner</mat-icon>
          {{ 'Layout.Header.ScanQRCode' | translate }}
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          {{ 'Layout.Header.Logout' | translate }}
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>