<h1 mat-dialog-title>
  {{ data.label }}
  <mat-form-field class="form-field">
    <mat-label>
      {{ 'FormFields.Label.Filter' | translate }}
    </mat-label>
    <input #matInput matInput [placeholder]="'FormFields.Placeholder.Filter' | translate">
  </mat-form-field>
</h1>
<div mat-dialog-content>
    <mat-selection-list class="select-list">
        <mat-list-item *ngIf="(data.items | filterSearch: matInput.value).length == 0">
            {{ 'Components.Select.NoResultsFound' | translate }}
        </mat-list-item>
        <mat-list-item togglePosition="before" [disableRipple]="true" *ngIf="(matInput.value == '') && (data.items.length != 0)" (click)="toggleSelectAll()">
          <mat-checkbox [indeterminate]="indeterminated" [checked]="selectAll">
            {{ 'Components.Select.' + (!selectAll ? 'SelectAll' : 'RemoveAll') | translate }}
          </mat-checkbox>
        </mat-list-item>
        <mat-list-option togglePosition="before" *ngFor="let item of data.items | filterSearch: matInput.value" 
          [selected]="item.selected" [value]="item.value" (click)="toggleSelectItem(item.value)" color="primary">
          {{item.name}}
        </mat-list-option>
    </mat-selection-list>
</div>