:host {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 15px 0 15px;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 1rem;
  .profile-image {
    max-width: 77px;
    max-height: 77px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }
  
  .profile-name {
    line-height: 1.5rem;
    font-size: 1.25rem;
    margin: 0;
    max-width: 200px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .profile-email {
    line-height: 1rem;
    font-size: .75rem;
    margin: 0;
  }
}

.data {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  .data-item {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
    justify-content: center;

    .data-item__value {
      font-size: 1rem;
      line-height: 1.25rem;
      margin: 0;
    }

    .data-item__title {
      font-size: .75rem;
      line-height: 1rem;
      margin: 0;
      color: gray;
    }
  }
}

.search-input {
  width: 100% !important;
}