<mat-card>
    <img mat-card-image [src]="model.imageUrl">
    <mat-card-content class="content">
        <mat-chip [highlighted]="highlighted" [color]="color" class="chip">{{ model.date | date: 'dd-MM-YYYY' }}</mat-chip>
        <div class="card-details">
            <mat-card-title class="card-title">{{model.name}}</mat-card-title>
            <mat-card-subtitle class="card-title">{{model.id}}</mat-card-subtitle>
        </div>
    </mat-card-content>
    <mat-card-footer *ngIf="model.loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>