<mat-card>
    <img mat-card-image [src]="model.imageUrl">
    <mat-card-content class="content">
        <mat-chip [highlighted]="highlighted"
            [color]="color"
            class="chip mat-small">
            {{ model.date | date: 'dd-MM-YYYY' : 'UTC' }}
        </mat-chip>
        <app-mini-icon-button *ngIf="model.verified"
            class="assigned"
            icon="verified"
            color="accent"
            [tooltip]="'Verified' | translate"
            (click)="$event.stopPropagation()">
        </app-mini-icon-button>
        <div class="card-details">
            <p class="card-name">{{model.name}}</p>
            <p class="card-local">{{model.local}}</p>
        </div>
    </mat-card-content>
    <mat-card-actions align="end" *ngIf="model.gameStatus != gameStatus.Finished">
        <button mat-button
            *ngIf="!model.canDelete && !(model.gameStatus == gameStatus.Started || model.gameStatus == gameStatus.Finished)"
            [disabled]="model.gameStatus == gameStatus.Started || model.gameStatus == gameStatus.Finished"
            [color]="model.joinStatus == joinStatus.None ? '' : 'warn'"
            (click)="onButtonClick($event, model.joinStatus == joinStatus.None)">
            {{ (model.joinStatus == joinStatus.None ? 'Join' : 'Leave') | translate }}
        </button>
        <button mat-button
            *ngIf="!model.canDelete && model.joinStatus != joinStatus.None"
            [disabled]="model.joinStatus != joinStatus.None && model.joinStatus != joinStatus.Joined"
            (click)="emitOnPay($event)">
            {{ (model.joinStatus == joinStatus.None || model.joinStatus == joinStatus.Joined ? 'Pay' :
                model.joinStatus == joinStatus.PaidOut ? 'Paid Out' : 'Validated') | translate }}
        </button>
        <app-mini-icon-button icon="edit" tooltip="Edit" *ngIf="model.canDelete" (click)="emitOnUpdate($event)"></app-mini-icon-button>
        <app-mini-icon-button icon="delete_outline" tooltip="Delete" *ngIf="model.canDelete" (click)="emitOnDelete($event)"></app-mini-icon-button>
    </mat-card-actions>
    <mat-card-footer *ngIf="model.loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>