<form [formGroup]="credentials">
    <mat-form-field class="form-field">
        <mat-label>{{ 'FormFields.Label.Login' | translate }}</mat-label>
        <input matInput formControlName="login" type="text" [placeholder]="'FormFields.Placeholder.Login' | translate" autocomplete="off">
        <mat-error *ngFor="let error of credentials.login.errors | keys">
            {{ 'FormFields.Validators.'+error | translate }}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>{{ 'FormFields.Label.NewPassword' | translate }}</mat-label>
        <input matInput #password="matInput" formControlName="password" [type]="hidePassword ? 'password' : 'text'" [placeholder]="'FormFields.Placeholder.NewPassword' | translate" autocomplete="off">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
            <mat-icon [color]="password.errorState ? 'warn' : ''">
                {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
        </button>
        <mat-error *ngFor="let error of credentials.password.errors | keys">
            {{ 'FormFields.Validators.'+error | translate }}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>{{ 'FormFields.Label.ConfirmPassword' | translate }}</mat-label>
        <input matInput #confirmPassword="matInput" formControlName="confirm-password" [type]="hideConfirmPassword ? 'password' : 'text'" [placeholder]="'FormFields.Placeholder.ConfirmPassword' | translate" autocomplete="off">
        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideConfirmPassword" type="button">
            <mat-icon [color]="confirmPassword.errorState ? 'warn' : ''">
                {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
        </button>
        <mat-error *ngFor="let error of credentials.confirmPassword.errors | keys">
            {{ 'FormFields.Validators.'+error | translate }}
        </mat-error>
    </mat-form-field>
</form>
