<mat-stepper orientation="vertical" [linear]="true" #stepper class="stepper">
    <mat-step [stepControl]="formEmailStep" editable="false">
        <ng-template matStepLabel>{{ 'Login.ForgotPassword.EmailStep' | translate }}</ng-template>

        <form class="form" [formGroup]="formEmailStep">
            <mat-form-field appearance="fill" class="form-field" appearance="outline" color="accent">
                <mat-label>{{ 'FormFields.Label.Email' | translate }}</mat-label>
                <input matInput formControlName="email" type="email" [placeholder]="'FormFields.Placeholder.Email' | translate" autocomplete="email">
                <mat-error *ngIf="formEmailStep.get('email')?.hasError('required')">
                    {{ 'FormFields.Validators.required' | translate }}
                </mat-error>
                <mat-error *ngIf="!formEmailStep.get('email')?.hasError('required') && formEmailStep.get('email')?.hasError('invalidEmail')">
                    {{ 'FormFields.Validators.email' | translate }}
                </mat-error>
            </mat-form-field>
        </form>
        <button mat-button matStepperNext>{{'Shared.Button.Next' | translate}}</button>
    </mat-step>
    <mat-step [stepControl]="formCodeStep" editable="false">
        <ng-template matStepLabel>{{ 'Login.ForgotPassword.CodeStep' | translate }}</ng-template>
        <form class="form" [formGroup]="formCodeStep">
            <mat-form-field appearance="fill" class="form-field" appearance="outline" color="accent">
                <mat-label>{{ 'FormFields.Label.Code' | translate }}</mat-label>
                <input matInput formControlName="code" type="text" [placeholder]="'FormFields.Placeholder.Code' | translate" autocomplete="off">
                <mat-error *ngIf="formCodeStep.get('code')?.hasError('required')">
                    {{ 'FormFields.Validators.required' | translate }}
                </mat-error>
                <mat-error *ngIf="!formCodeStep.get('code')?.hasError('required') && formCodeStep.get('code')?.hasError('invalidCode')">
                    {{ 'FormFields.Validators.invalidCode' | translate }}
                </mat-error>
            </mat-form-field>
        </form>
        <button mat-button (click)="stepper.reset()">{{'Shared.Button.Cancel' | translate}}</button>
        <button mat-button matStepperNext>{{'Shared.Button.Next' | translate}}</button>
    </mat-step>
    <mat-step [stepControl]="formPasswordStep">
        <ng-template matStepLabel>{{ 'Login.ForgotPassword.ChangePasswordStep' | translate }}</ng-template>
        <form class="form" [formGroup]="formPasswordStep">
            <mat-form-field appearance="fill" class="form-field" appearance="outline" color="accent">
                <mat-label>{{ 'FormFields.Label.NewPassword' | translate }}</mat-label>
                <input matInput formControlName="newPassword"
                    [type]="hideP ? 'password' : 'text'"
                    [placeholder]="'FormFields.Placeholder.Password' | translate"
                    autocomplete="off"
                    (focus)="onFocus(0)">
                <button mat-icon-button matSuffix (click)="hideP = !hideP" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP">
                    <mat-icon [color]="formPasswordStep.get('newPassword')?.hasError('required') && formPasswordStep.dirty ? 'warn' : ''">{{hideP ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formPasswordStep.get('newPassword')?.hasError('required')">
                    {{ 'FormFields.Validators.required' | translate }}
                </mat-error>
            </mat-form-field>
            <app-password-validators #validatorsPassword [form]="formPasswordStep" name="newPassword"></app-password-validators>
        
            <mat-form-field appearance="fill" class="form-field" appearance="outline" color="accent">
                <mat-label>{{ 'FormFields.Label.ConfirmPassword' | translate }}</mat-label>
                <input matInput formControlName="confirmPassword"
                    [type]="hideCP ? 'password' : 'text'"
                    [placeholder]="'FormFields.Placeholder.ConfirmPassword' | translate"
                    autocomplete="off"
                    (focus)="onFocus(1)">
                <button mat-icon-button matSuffix (click)="hideCP = !hideCP" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideCP">
                    <mat-icon [color]="!formPasswordStep.get('confirmPassword')?.valid ? 'warn' : ''">{{hideCP ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formPasswordStep.get('confirmPassword')?.hasError('required')">
                    {{ 'FormFields.Validators.required' | translate }}
                </mat-error>
                <mat-error *ngIf="formPasswordStep.get('confirmPassword')?.hasError('match_error')">
                    {{ 'FormFields.Validators.passwordMustMatch' | translate }}
                </mat-error>
            </mat-form-field>
            <app-password-validators #validatorsConfirmPassword [form]="formPasswordStep" name="confirmPassword"></app-password-validators>
        </form>
        <button mat-button (click)="stepper.reset()">{{'Shared.Button.Cancel' | translate}}</button>
        <button mat-button (click)="submit()">{{'Shared.Button.Send' | translate}}</button>
    </mat-step>
</mat-stepper>