<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-stepper orientation="vertical" [linear]="true" #stepper class="stepper">
        <mat-step [label]="'Login.ForgotPassword.EmailStep' | translate" [stepControl]="emailControl" editable="false">
            <mat-form-field appearance="fill" class="form-field" appearance="outline" color="accent">
                <mat-label>{{ 'FormFields.Label.Email' | translate }}</mat-label>
                <input matInput formControlName="email" type="email" [placeholder]="'FormFields.Placeholder.Email' | translate" autocomplete="email">
                <mat-error *ngFor="let error of emailControl.errors | keys ">
                    {{ 'FormFields.Validators.'+error | translate }}
                </mat-error>
            </mat-form-field>
            <button mat-stroked-button (click)="emailStepCheck()" type="button" [disabled]="emailLoading">
                {{ emailLoading ? '' : 'Shared.Button.Next' | translate }}
                <mat-progress-spinner *ngIf="emailLoading"
                    class="example-margin"
                    mode="indeterminate"
                    diameter="21">
                </mat-progress-spinner>
            </button>
        </mat-step>
        <mat-step [label]="'Login.ForgotPassword.CodeStep' | translate" [stepControl]="codeControl" editable="false">
            <mat-form-field appearance="fill" class="form-field" appearance="outline" color="accent">
                <mat-label>{{ 'FormFields.Label.Code' | translate }}</mat-label>
                <input matInput formControlName="code" type="text" [placeholder]="'FormFields.Placeholder.Code' | translate" autocomplete="off">
                <mat-error *ngFor="let error of codeControl.errors | keys ">
                    {{ 'FormFields.Validators.'+error | translate }}
                </mat-error>
            </mat-form-field>
            <button mat-button (click)="stepper.reset()" type="button" [disabled]="codeLoading">
                {{ 'Shared.Button.Cancel' | translate }}
            </button>
            <button mat-button (click)="codeStepCheck()" type="button" [disabled]="codeLoading">
                {{ codeLoading ? '' : 'Shared.Button.Next' | translate }}
                <mat-progress-spinner *ngIf="codeLoading"
                    class="example-margin"
                    mode="indeterminate"
                    diameter="21">
                </mat-progress-spinner>
            </button>
        </mat-step>
        <mat-step [label]="'Login.ForgotPassword.ChangePasswordStep' | translate" formGroupName="update-password" [stepControl]="passwordGroup" editable="false">
            <mat-form-field appearance="fill" class="form-field" appearance="outline" color="accent">
                <mat-label>{{ 'FormFields.Label.NewPassword' | translate }}</mat-label>
                <input matInput #password="matInput" formControlName="new-password"
                    [type]="hideP ? 'password' : 'text'"
                    [placeholder]="'FormFields.Placeholder.Password' | translate"
                    autocomplete="off">
                <button mat-icon-button matSuffix (click)="hideP = !hideP" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP" type="button">
                    <mat-icon [color]="password.errorState ? 'warn' : ''">{{hideP ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngFor="let error of passwordGroup.password.errors  | keys">
                    {{ 'FormFields.Validators.'+error | translate }}
                </mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill" class="form-field" appearance="outline" color="accent">
                <mat-label>{{ 'FormFields.Label.ConfirmPassword' | translate }}</mat-label>
                <input matInput #confirmPassword="matInput" formControlName="confirm-new-password"
                    [type]="hideCP ? 'password' : 'text'"
                    [placeholder]="'FormFields.Placeholder.ConfirmPassword' | translate"
                    autocomplete="off">
                <button mat-icon-button matSuffix (click)="hideCP = !hideCP" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideCP" type="button">
                    <mat-icon [color]="confirmPassword.errorState ? 'warn' : ''">{{hideCP ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngFor="let error of passwordGroup.confirmPassword.errors | keys">
                    {{ 'FormFields.Validators.'+error | translate }}
                </mat-error>
            </mat-form-field>
            <button mat-button (click)="stepper.reset()" type="button" [disabled]="passwordLoading">
                {{ 'Shared.Button.Cancel' | translate }}
            </button>
            <button mat-button type="submit" [disabled]="passwordLoading">
                {{ passwordLoading ? '' : 'Shared.Button.Send' | translate }}
                <mat-progress-spinner *ngIf="passwordLoading"
                    class="example-margin"
                    mode="indeterminate"
                    diameter="21">
                </mat-progress-spinner>
            </button>
        </mat-step>
    </mat-stepper>
</form>