.content {
  position: relative;
  display: flex;
  gap: 10px;
  .icon-left {
    line-height: 100%;
    margin: auto 0;
  }
  .texts-right {
    >p {
      margin: 0;
      padding: 0;
      &.caption{
        line-height: normal;
      }
    }
  }
}