:host {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 15px 0 15px;
    display: flex;
    flex-direction: column;

    .next-games {
        display: flex;
        .title {
            flex: 1 1 auto;
        }
    }

    .game-list {
        columns: 6;
        gap: 15px;
    }
}