@import '../../../../assets/sass/style';

.validators {
    @include M_Body_1;
    padding: 0 20px 10px 20px;
    li {
        color: $AF_Gray_40;
        &.checked {
            color: $AF_Black;
        }
    }
}
