<nav
  (mouseleave)="setMouseOver(false)">
  <div class="menu mat-app-background"
    (mouseenter)="setMouseOver(true)"
    [ngClass]="{ 'closed': sidebarCollapsed && !mouseOver }">
    <app-menu-sidebar
      *ngIf="!sidebarCollapsed || mouseOver">
    </app-menu-sidebar>
    <div class="copyright"
      *ngIf="!sidebarCollapsed || mouseOver">
      <div> Copyright {{ currentYear }} </div>
      <div> Todos os direitos reservados </div>
    </div>
  </div>
  <div 
    class="close mat-app-background"
    [ngClass]="{'hide-arrow' : !sidebarCollapsed && !mouseOver }"
    (click)="toggleSidebar()">
    <button mat-icon-button>
      <mat-icon [ngClass]="{
        'arrow-closed': sidebarCollapsed,
        'arrow': !sidebarCollapsed }">
        expand_less
      </mat-icon>
    </button>
  </div>
</nav>