@import '../../../assets/sass/style';

app-menu-sidebar{
  width: 85%;
  margin-left: -5%;
  padding-top: 15px;
  height: calc(100% - 79px);
  //overflow-y: scroll;
}

nav {
  user-select: none;
  height: calc(100% - 76px);
  margin-top: 76px;
  transition: all 0.2s ease-in-out;
  background: none;
  display: flex;
  position: fixed;
  overflow: hidden;
  z-index: 1;

  .menu {
    margin-right: 15px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-in-out;
    background: $AF_Background_Secondary;
    border-right: 1px $AF_Secondary_Text solid;
    overflow: hidden;
    position: relative;
    &.closed {
      width: 20px;
    }

    .copyright {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      width: 260px;
      height: 79px;
      padding: 20px 0;
      text-align: center;
    }
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    background: $AF_Background_Secondary;
    box-shadow: $AF_Shadow_Color 0px 2px 4px 1px;
  
    .arrow {
      transform: rotate(-90deg);
      transition: all 0.2s ease-in-out;
    }
    
    .arrow-closed {
      transform: rotate(90deg);
      transition: all 0.2s ease-in-out;
    }

    &.hide-arrow{
      display: none !important;
      transition: all 0.2s ease-in-out;
    }

    &:hover{
      background: $AF_Hover;
    }
  }
}

@media only screen and (max-width: 450px) {
  
  nav{
    .menu{
      width: 100vw;
      &.closed{
        display: none;
      }
    }
    .close{
      display: none;
    }
  }
  
}



