<div *ngFor="let item of menus">
    <div (click)="menuClick(item)" class="menu-item">
        <span 
            class="material-icons arrow" 
            *ngIf="item.submenus"
            [ngClass]="{
                'arrow-submenu-closed': item.collapsed,
                'arrow-submenu': !item.collapsed }">
            expand_less
        </span>
        {{ item.name | translate }}
    </div>
    <div class="submenu" *ngIf="item.collapsed" @inOutAnimation>
        <div
            class="menu-subitem"
            [ngClass]="{ 'menu-active': subitem.active }"
            *ngFor="let subitem of item.submenus"
            (click)="menuClick(subitem)">
            {{ subitem.name | translate }}
        </div>
    </div>
</div>
