:host {
    margin: auto 0;
    overflow: auto;
    .stepper{
        padding: 25px 0;
        .form-field{
            width: 100%;
        }
    
        .controls {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    
        .card-title{
            padding: 25px;
        }
    }
}