.content {
  cursor: pointer;
  width: 100%;
  display: flex;
  .data {
    flex: 1 1 auto;
    >p {
      margin: 0;
      line-height: 13px;
      &.caption {
        font-size: calc(12px * 0.67);
      }
    }
  }
  >span {
    font-size: 11px;
    margin: auto;
  }
}