<h1 mat-dialog-title>{{ 'Dialog.Title.ChangePassword' | translate }}</h1>
<div mat-dialog-content>
    <internal-update-password-form [updatePassword]="updatePassword"></internal-update-password-form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="okClick()" type="submit" [disabled]="loading">
    {{ 'Ok' | translate }}
    <mat-progress-spinner *ngIf="loading"
      mode="indeterminate"
      diameter="21">
    </mat-progress-spinner>
  </button>
  <button mat-button (click)="cancelClick()" cdkFocusInitial type="button" [disabled]="loading">{{ 'Cancel' | translate }}</button>
</div>