$AF_primary: rgb(5, 65, 5);
$AF_secondary: rgb(54, 32, 7);

$AF_Background_Primary: rgb(255, 255, 255);
$AF_Background_Secondary: rgb(250, 250, 250);
$AF_Hover: rgb(235, 236, 240);

$AF_Shadow_Color: rgb(9 30 66 / 8%);

$AF_Main_Text: rgb(66, 82, 110);
$AF_Secondary_Text: rgba(0,0,0,0.5);

$AF_White: rgb(255, 255, 255);
$AF_Black: rgb(0, 0, 0);

$AF_text_color_100: rgb(0,0,0);
$AF_text_color_90: rgba(0,0,0,0.9);
$AF_text_color_80: rgba(0,0,0,0.8);
$AF_text_color_70: rgba(0,0,0,0.7);
$AF_text_color_60: rgba(0,0,0,0.6);
$AF_text_color_50: rgba(0,0,0,0.5);
$AF_text_color_40: rgba(0,0,0,0.4);
$AF_text_color_30: rgba(0,0,0,0.3);
$AF_text_color_20: rgba(0,0,0,0.2);
$AF_text_color_10: rgba(0,0,0,0.1);

$AF_Gray_100: rgb(102, 102, 102);
$AF_Gray_90 : rgb(119, 119, 119);
$AF_Gray_80 : rgb(136, 136, 136);
$AF_Gray_70 : rgb(153, 153, 153);
$AF_Gray_60 : rgb(170, 170, 170);
$AF_Gray_50 : rgb(187, 187, 187);
$AF_Gray_40 : rgb(204, 204, 204);
$AF_Gray_30 : rgb(221, 221, 221);
$AF_Gray_20 : rgb(238, 238, 238);
$AF_Gray_10 : rgb(248, 249, 250);




    



