$AF_primary: rgb(5, 65, 5);
$AF_secondary: rgb(54, 32, 7);

$AF_Background_Primary: rgb(255, 255, 255);
$AF_Background_Secondary: rgb(250, 250, 250);
$AF_Hover: rgb(235, 236, 240);

$AF_Shadow_Color: rgb(9 30 66 / 8%);

$AF_Main_Text: rgb(66, 82, 110);
$AF_Secondary_Text: rgba(0,0,0,0.5);

$AF_White: rgb(255, 255, 255);
$AF_Black: rgb(0, 0, 0);



    



