$AF-green: (
    50 : #e2f0e6,
    100 : #b7dac0,
    200 : #88c196,
    300 : #58a86c,
    400 : #34964d,
    500 : #10832d,
    600 : #0e7b28,
    700 : #0c7022,
    800 : #09661c,
    900 : #055311,
    A100 : #86ff91,
    A200 : #53ff63,
    A400 : #20ff34,
    A700 : #07ff1d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$AF-orange: (
    50 : #fff2e0,
    100 : #ffdeb3,
    200 : #ffc980,
    300 : #ffb34d,
    400 : #ffa226,
    500 : #ff9200,
    600 : #ff8a00,
    700 : #ff7f00,
    800 : #ff7500,
    900 : #ff6300,
    A100 : #ffffff,
    A200 : #fff6f2,
    A400 : #ffd4bf,
    A700 : #ffc3a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$AF-blue: (
    50 : #e2eaf2,
    100 : #b6cbdf,
    200 : #85a9ca,
    300 : #5487b4,
    400 : #306da4,
    500 : #0b5394,
    600 : #0a4c8c,
    700 : #084281,
    800 : #063977,
    900 : #032965,
    A100 : #95b6ff,
    A200 : #6294ff,
    A400 : #2f71ff,
    A700 : #155fff,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$AF-purple: (
    50 : #edeaf4,
    100 : #d1cae5,
    200 : #b3a7d3,
    300 : #9583c1,
    400 : #7e69b4,
    500 : #674ea7,
    600 : #5f479f,
    700 : #543d96,
    800 : #4a358c,
    900 : #39257c,
    A100 : #cbbdff,
    A200 : #a28aff,
    A400 : #7a57ff,
    A700 : #663dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$AF-black: (
    50 : #e9e9ea,
    100 : #c9c9ca,
    200 : #a5a5a6,
    300 : #818182,
    400 : #666668,
    500 : #4b4b4d,
    600 : #444446,
    700 : #3b3b3d,
    800 : #333334,
    900 : #232325,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);