@import 'colors';
@import 'fonts';
@import 'shadow';
@import 'typography';
@import 'theme';

html,
body {
  padding: 0;
  margin: 0;
}

*{
  mat-form-field{
    padding-top: 10px;
  }
}

.cdk-scrollable {
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.12) transparent;
  scrollbar-width: thin;
}

.cdk-scrollable::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.cdk-scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.12);
}

.cdk-scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-clip: content-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $AF_primary;
  border-radius: 3.5px;
  background-clip: content-box;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  background-clip: content-box;
}