@import 'colors';
@import 'fonts';
@import 'shadow';
@import 'typography';

*:not(.material-icons) { 
  @include M_Body_1;
  color: $AF_Main_Text;

  span, p {
    margin: 0;
    padding: 0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

.material-icons {
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  -webkit-user-select: none;
  user-select: none;
  &.button-icon{
      &:active {
          background-color: $AF_Gray_100;
      }
  }
}