@use '@angular/material' as mat;
@import 'typography';
@import 'palette';

@include mat.core();

$dark-theme: mat.define-dark-theme((
    color: (
        primary: mat.define-palette($AF-green, 900, A100, A400),
        accent: mat.define-palette($AF-blue, A200, A100, A400),
    ),
    typography: mat.define-typography-config($my-font-name),
    density: 0,
));

$light-theme: mat.define-light-theme((
    color: (
        primary: mat.define-palette($AF-green, 400),
        accent: mat.define-palette($AF-orange, A200, A100, 700),
    ),
));

@include mat.all-component-themes($dark-theme);

.light-theme{
    @include mat.all-component-colors($light-theme);
}

