@use '@angular/material' as mat;
@import 'typography';
@import 'palette';

@include mat.core();

$dark-theme: mat.define-dark-theme((
    color: (
        primary: mat.define-palette($AF-black, 900, A100, A400, A400),
        accent: mat.define-palette($AF-black, A200, A100, A400, A400),
    ),
    typography: mat.define-typography-config($my-font-name),
    density: 0,
));

$light-theme: mat.define-light-theme((
    color: (
        primary: mat.define-palette($AF-black, 400),
        accent: mat.define-palette($AF-black, A200, A100, 700),
    ),
));

@include mat.all-component-themes($dark-theme);

.light-theme{
    @include mat.all-component-colors($light-theme);
    mat-drawer-content {
        background-color: map_get($AF-black, 50) !important;
    }
    mat-drawer {
        background-color: map_get($AF-black, 100) !important;
    }
}

